body {
  background-color: rgba(250, 240, 230, 0.8);
}

h1 {
  font-size: 4em;
    font-family: "Vivaldi", cursive;
  font-size: 4em;
  color: rgb(72, 60, 50);
}

.navbar {
  background-color: rgb(219, 193, 170);
  font-family: vivaldi, cursive;
  font-size: 1.2em;
  margin-bottom: 50px;
}

.small-heading {
  font-family: vivaldi, cursive;
  font-size: 1.5em;
  color: rgb(150, 120, 89);
  text-align: center;
  margin-bottom: 50px;
}

.carousel-item img {
  width: 100%;
  height: 400px; 
  object-fit: cover;   
}
#carouselExampleFade {
  max-width: 600px;
  margin: 0 auto;     
}

img {
  margin-bottom: 30px;
}
h5 {
  font-family: vivaldi, cursive;
  font-size: 1.2em;
  color: rgb(150, 120, 89);
  text-align: center;
}
.card {
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(219, 193,170);
  border: 1px solid #000000;
  font-family: vijaya, serif;
}

footer {
  background-color: rgb(219, 193,170);
  text-align: center;
  padding: 10px;
  font-family: vijaya, serif;
}
