body {
  background-color: rgba(231, 216, 216, 0.313);
}

h1 {
  font-size: 4em;
    font-family: "Vivaldi", cursive;
  font-size: 4em;
  color: rgb(150, 128, 131);
}

.navbar {
  background-color: rgb(230, 218, 220);
  font-family: vivaldi, cursive;
  font-size: 1.2em;
  margin-bottom: 20px;
}

h4 {
  font-family: vivaldi, cursive;
  font-size: 1.5em;
  color: rgb(150, 128, 131);
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 80%;
  margin: 40px auto;
  background-color: rgb(189, 169, 172);
  border-radius: 5px;
  overflow: hidden;
  font-family: vijaya, serif;
}

.table th,
.table td {
  text-align: left;
  padding: 15px;
  background-color: rgb(230, 218, 220);
}

footer {
  background-color: rgb(246, 238, 239);
  text-align: center;
  padding: 10px;
  font-family: vijaya, serif;
}