body {
  background-color: rgba(250, 240, 230, 0.8);
}

h1 {
  font-size: 4em;
    font-family: "Vivaldi", cursive;
  font-size: 4em;
  color: rgb(72, 60, 50);
}

.navbar {
  background-color: rgb(219, 193, 170);
  font-family: vivaldi, cursive;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.small-heading {
  font-family: vivaldi, cursive;
  font-size: 1.5em;
  color: rgb(150, 120, 89);
  text-align: center;
}

.content-box {
  max-width: 700px;
  margin: 80px auto;
  padding: 30px;
  background-color: rgb(219, 193, 170);
  text-align: center;
  border-radius: 10px;
}

.content-box h3 {
  font-family: vivaldi, cursive;
  color: rgb(72, 60, 50);
  font-size: 2em;
}

.content-box p {
  font-family: vijaya, serif;
  font-size: 1.2em;
}

.content-box h5 {
  font-family: vivaldi, cursive;
  color: rgb(72, 60, 50);
  font-size: 1.5em;
  margin-top: 20px;
}

.quote {
  text-align: center;
  font-family: vivaldi, cursive;
  font-size: 2em;
  color: rgb(150, 120, 89);
  margin: 80px auto;
  max-width: 700px;
}

footer {
  background-color: rgb(219, 193,170);
  text-align: center;
  padding: 10px;
  font-family: vijaya, serif;
}